#rectangle {
  width: 1350px;
  height: 50px;
  background: #add8e6;
}
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
h1 {
  font-size: 100px;
  font-family: "Playfair Display";
  text-align: center;
  margin: 1px;
}
h2 {
  font-size: 40px;
  color: #556b2f;
  margin: 2px;
}
p1 {
  font-size: 16px;
}
p2 {
  font-size: 20px;
  color: #cd5c5c;
}
p3 {
  font-size: 17px;
}
img {
  width: 150px;
  height: 200px;
  margin: 20px;
}
h3 {
  font-size: 20px;
  color: #191970;
}
h4 {
  font-size: 20px;
  color: #191970;
}
